:root {
    --header-height: 48px;
    --colour1: #FFF;
    --colour2: #AAA;
    --colour3: #555;
    --colour4: #000;
    --header-colour: rgb(215, 215, 220);
}

/*:root {
    --menuheight: 40px;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--menuheight);
    box-shadow: 0 2px 5px black;
    background: rgb(215, 215, 220);
    z-index: 100;
}

.navbar {
    position: sticky;
    top: 0px;
    width: 100%;
}

nav {
    align-items: center;
    color: rgb(40, 40, 40);
    display: flex;
}

nav>.dropdown{
    min-width: 65px;
    width: 10%;
    max-width: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1 0 10%;
}

nav>.dropdown>p {
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 3px -3px black;
    background: none;
    font-family: arial;
    font-weight: bold;
    font-size: 1em;
    width: calc(100% - (10px * 2));
    height: 18px;
    color: rgb(40, 40, 40);
    text-align: center;
    position: relative;
}

nav>.dropdown>.dropdown-content {
    display: none;
    position: absolute;
    font-family: arial;
    font-weight: bold;
    font-size: 1em;
    min-width: inherit;
    width: calc(100% - (10px * 2));
    max-width: inherit;
    margin: 0px 10px;
    text-align: center;
    top: 18px;
    z-index:120;
}

nav>.dropdown:hover>.dropdown-content { /*When hovering over .dropdown item, change properties of .dropdown-content
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index:120;
}

nav>.dropdown>.dropdown-content>a {
    float: left;
    clear: left;
    min-width: inherit;
    width: calc(100%);
    max-width: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgb(60, 60, 60);
    color: rgb(40, 40, 40);
    background: linear-gradient(to right, rgba(215, 215, 220, 0), rgb(215, 215, 220) 5%, rgb(215, 215, 220) 95%, rgba(215, 215, 220, 0) 100%);
    box-shadow: 0 4px 3px -3px black;
    overflow-wrap: break-word;
    position:relative;
    z-index:120;
}

#navigation {
    position:relative;
    z-index:120;
}
.disabled {
    box-shadow: none;
    color: rgb(150, 150, 150) !important;
    cursor: default;
    pointer-events: none;
    z-index:120;
}

#navigation{
    display: flex;
}

#menu-button{
    display: none;
    width: 32px;
    height: 32px;
    background: url(/pokeseed/img/menu.svg);
    position: absolute;
    cursor: pointer;
}

/* logo stuff 
.menu>.logo {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-family: 'Pokemon Solid'
}

.menu > .logo > img {
    height: 32px;
    width: auto;
}

.menu>.logo>* {
    margin: 0px 8px;
}

.menu>.logo>h1 {
    margin: 0;
    display: inline-block;
    position:relative;
    line-height: var(--menuheight);
    top: calc(var(--menuheight) / -10);
    font-size: 24px;
}

.menu>nav {
    width: 70%;
    height: 38px;
}

@media screen and (max-width: 480px){
    nav>.dropdown{
        min-width: 70px;
    }

    nav>.dropdown>.dropdown-content {
        min-width: 100px;
    }
    
    #navigation{
        display: none;
        position: absolute;
        height:auto;
    }

    .menu{
        justify-content: center;
        position: relative;
    }

    #menu-button{
        display: block;
        right: 6px;
    }

    #menu-button:hover {
        transform: translateY(1px);
    }

    #menu-button:hover + #navigation, #navigation:hover {
        display: flex;
        width:auto;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 40px;
    }

    #navigation:hover >.dropdown>.dropdown-content>a {
        display: flex;
        position: relative;
        right: 120px;
    }

    #navigation:hover > .dropdown>.dropdown-content {
        top: 1px;
        width: 120px;
        height: 32px;
        font-size: 1.5em;
    }

    #navigation>.dropdown>p {
        border: none;
        border-bottom: 1px solid black;
        box-shadow: none;
        background: none;
        font-size: 1.5em;
        width: 120px;
        height: 32px;
        margin: 2px;
    }
    
    #navigation>.dropdown {
        background: #666;
        width: 120px;
        margin: 0;
    }
}

@media screen and (max-width: 1024px){
    #navigation{
        flex-wrap: wrap;
    }

    .dropdown {
        margin: 2px 0;
    }
    .menu {
        --menuheight: 50px;
    }
}*/

header {
    width: 100%;
    border: 1px solid black;
    /* temporary border for visualisation */
    position: sticky;
    height: calc(var(--header-height) + 2px);
    background: var(--header-colour);
}



.logo>* {
    margin: auto 8px;
}

.logo>img {
    width: 32px;
    height: 32px;
}

.logo {
    width: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-family: 'Pokemon Solid';
    justify-content: center;
    position: absolute;
    left: 5%;
    height: var(--header-height);
}

.logo > img {
    height: 32px;
    width: auto;
}

.logo>* {
    margin: 0px 8px;
}

.logo>h1 {
    margin: 0;
    display: inline-block;
    position: relative;
    line-height: var(--header-height);
    top: calc(var(--header-height) / -10);
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 30%;
    width: 70%;
}

.menu>a,
.menu>li {
    width: calc(100% / 4);
    border: 1px solid var(--header-colour);
    display: flex;
    text-decoration: inherit;
    color: inherit;
    background-color: var(--header-colour);
    color: var(--colour4);
}

.menu>a,
.menu>li,
.dropdown-content>a {
    cursor: pointer;
}

.menu>a:hover,
.menu>li:hover,
.dropdown-content>a:hover {
    background-color: var(--colour2);
    color: var(--colour1);
    transition: 500ms;
}

.disabled, .disabled:hover {
    color: rgb(150, 150, 150) !important;
    cursor: default !important;
    background-color: var(--header-colour) !important;
}

.menu>li>p,
.menu>a>li {
    margin: auto auto;
}

#menu-button {
    display: none;
    width: 32px;
    height: 32px;
    background: url('../img/menu.svg');
    position: absolute;
    top: calc((var(--header-height) - 32px) / 2);
    right: calc((var(--header-height) - 32px) / 2);
    cursor: pointer;
}

.dropdown {
    height: var(--header-height);
    display: flex;
    flex-direction: column;
}

.dropdown>p {
    flex: 0 0 100%;
    line-height: var(--header-height);
}

.menu>a>li,
.dropdown-content>a>li {
    display: block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: relative;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: auto;
    border: 1px solid black;
}

.dropdown:hover>.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content>a {
    border: 1px solid var(--header-colour);
    height: var(--header-height);
    text-decoration: inherit;
    display: flex;
    background-color: var(--header-colour);
    color: var(--colour4);
}

.dropdown-content>a>li {
    margin: auto auto;
}


@media screen and (max-width: 480px) {
    .dropdown {
        width: 100%;
    }

    .dropdown>.dropdown-content {
        width: 100%;
        position: absolute;
        left: calc(-100% - 1px);
    }

    #navigation {
        display: none;
        position: absolute;
        right: -1px;
        height: auto;
        width: 40%;
    }

    .menu {
        justify-content: center;
        position: absolute;
        right: 0px;
        width: 100%;
        top: -2px;
        left: auto;
        height: auto;
        flex-direction: column;
    }

    .menu {
        border: 1px solid black;
    }

    .menu>li,
    .menu>a {
        width: 100%;
        position: relative;
        height: var(--header-height);
    }

    #menu-button {
        display: block;
    }

    #menu-button:hover {
        transform: translateY(1px);
    }

    #menu-button:hover+#navigation,
    #navigation:hover {
        display: flex;
        flex-direction: column;
    }

    #navigation:hover>.dropdown>.dropdown-content>a {
        display: flex;
        position: relative;
        right: 0px;
    }

    #navigation:hover>.dropdown>.dropdown-content {
        top: 1px;
        width: 120px;
        height: 32px;
        font-size: 1.5em;
    }

    #navigation>.dropdown>p {
        border: none;
        border-bottom: 1px solid black;
        box-shadow: none;
        background: none;
        font-size: 1.5em;
        width: 120px;
        height: 32px;
        margin: 2px;
    }

    #navigation>.dropdown {
        background: #666;
        width: 120px;
        margin: 0;
    }

    .logo {
        position: initial;
    }
}