.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    box-shadow: 0 2px 5px black;
    margin-bottom: 40px;
    background: rgb(215, 215, 220);
    z-index: 100;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
}

nav {
    align-items: center;
    color: rgb(40, 40, 40);
    display: flex;
}

nav>.dropdown{
    min-width: 65px;
    width: 10%;
    max-width: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1 0 10%;
}

nav>.dropdown>p {
    border: none;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 3px -3px black;
    background: none;
    font-family: arial;
    font-weight: bold;
    font-size: 1em;
    width: calc(100% - (10px * 2));
    height: 18px;
    color: rgb(40, 40, 40);
    text-align: center;
    position: relative;
}

nav>.dropdown>.dropdown-content {
    display: none;
    position: absolute;
    font-family: arial;
    font-weight: bold;
    font-size: 1em;
    min-width: inherit;
    width: calc(100% - (10px * 2));
    max-width: inherit;
    margin: 0px 10px;
    text-align: center;
    top: 18px;
    z-index:120;
}

nav>.dropdown:hover>.dropdown-content { /*When hovering over .dropdown item, change properties of .dropdown-content*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index:120;
}

nav>.dropdown>.dropdown-content>a {
    float: left;
    clear: left;
    min-width: inherit;
    width: calc(100%);
    max-width: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgb(60, 60, 60);
    color: rgb(40, 40, 40);
    background: linear-gradient(to right, rgba(215, 215, 220, 0), rgb(215, 215, 220) 5%, rgb(215, 215, 220) 95%, rgba(215, 215, 220, 0) 100%);
    box-shadow: 0 4px 3px -3px black;
    overflow-wrap: break-word;
    position:relative;
    z-index:120;
}

#navigation {
    position:relative;
    z-index:120;
}
.disabled {
    box-shadow: none;
    color: rgb(150, 150, 150) !important;
    cursor: default;
    pointer-events: none;
    z-index:120;
}

#navigation{
    display: flex;
}

#menu-button{
    display: none;
    width: 32px;
    height: 32px;
    background: url(/pokeseed/img/menu.svg);
    position: absolute;
    cursor: pointer;
}

/* logo stuff */
.menu>.logo {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

.menu>.logo>* {
    padding: 0px 8px;
}

.menu>.logo>h1 {
    margin: 0;
    display: inline-block;
    text-decoration: underline solid black 3px;
}

.menu>nav {
    width: 70%;
    height: 38px;
}

@media screen and (max-width: 480px){
    nav>.dropdown{
        min-width: 70px;
    }

    nav>.dropdown>.dropdown-content {
        min-width: 100px;
    }
    
    #navigation{
        display: none;
        position: absolute;
        height:auto;
    }

    .menu{
        justify-content: center;
        position: relative;
    }

    #menu-button{
        display: block;
        right: 6px;
    }

    #menu-button:hover {
        transform: translateY(1px);
    }

    #menu-button:hover + #navigation, #navigation:hover {
        display: flex;
        width:auto;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 40px;
    }

    #navigation:hover >.dropdown>.dropdown-content>a {
        display: flex;
        position: relative;
        right: 120px;
    }

    #navigation:hover > .dropdown>.dropdown-content {
        top: 1px;
        width: 120px;
        height: 32px;
        font-size: 1.5em;
    }

    #navigation>.dropdown>p {
        border: none;
        border-bottom: 1px solid black;
        box-shadow: none;
        background: none;
        font-size: 1.5em;
        width: 120px;
        height: 32px;
        margin: 2px;
    }
    
    #navigation>.dropdown {
        background: #666;
        width: 120px;
        margin: 0;
    }
}

@media screen and (max-width: 1024px){
    #navigation{
        flex-wrap: wrap;
    }

    .dropdown {
        margin: 2px 0;
    }
    .menu {
        height: 50px;
    }

    .content {
        top: 50px;
    }
}
