.infopage {
    width: 50%;
    margin: 0 auto;
    background: white;
    height: 100%;
    box-shadow: 6px 0 4px -4px black, -6px 0 4px -4px black;
    display: flex;
    flex-direction: column;
    padding: 25px 8px;
    position:relative;
}

.scrolldisplay {
    display: none;
}

.about {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    padding: 5px 0;
    background: #BBB;
}

.about > p {
    width: 60%;
    width: calc(100% - 128px - 64px);
    margin: auto 16px;
}

.mirror {
    flex-direction: row-reverse;
}

.profile {
    width: 128px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto 16px;
}

.profile > .pic {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: inset 0 0 5px 3px black;
    background-size: cover;
}

.mirror > p {
    text-align: right;
}

.mirror > .profile {
    float: right;
}

.pic {
    image-rendering: pixelated;
    /* all images that don't scale well should be sprites, 
     * others should be larger than 160x160 */
}
.pic.customashable {
    background-image: url(/pokeseed/img/customashable.png);
}

.pic.felucia {
    background: url(/pokeseed/img/felucia.png) #BFB;
    background-size: cover;
}

.pic.svoner {
    background-image: url(/pokeseed/img/svoner.png)
}

@media screen and (max-width: 1024px) {
    .infopage {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .infopage {
        flex-direction: row;
        padding: 10px 0;
        font-size: 1.4em;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }

    .profile {
        width: auto;
        height: 256px;
    }

    .about {
        min-width: 100%;
        flex-direction: column;
        margin: 0 16px;
        padding: 15px 5px;
        scroll-snap-align: center;
    }

    .about > p {
        width: auto;
        margin: 0px 16px;
        height: calc(100% - 256px - 64px);
    }

    .mirror > p {
        text-align: left;
    }
    
    .profile > .pic {
        width: 160px;
        height: 160px;
        border-radius: 32px;
    }

    .scrolldisplay {
        display: flex;
        position: absolute;
        height: 20px;
        width: 100%;
        top: 32px;
        left: 0;
        justify-content: center;
        z-index: 2;
    }

    .selectedpage {
        height:10px;
        width:10px;
        border: 1px solid black;
        background: black;
        border-radius:5px;
    }

    .unselectedpage {
        height:10px;
        width:10px;
        border: 1px solid black;
        border-radius:5px;
    }
}